%ul.tab
  %li
    = link_to t('subscriptions'), subscriptions_path, class: "red"
  %li
    = link_to t('folders'), folders_path, class:"blue"
  %li
    = link_to t('import_export'), import_feeds_path, class:"green"
